VITE_SUPABASE_URL=https://gvlvodrozbyoxbthxwbt.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imd2bHZvZHJvemJ5b3hidGh4d2J0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQ2MjU1ODcsImV4cCI6MjEwMDIwMTU4N30.LLxVfqsQpkrUIEr6_vdl2HwD2iCHjBDb7U2I-2CL42E
